#card {
	width: 124px;
	height: 180px;
}

#spoon {
    width: 58px;
    height: 273px;
}

.playerTable {
    background: white;
    margin: 1em auto;
    border: solid black 2px;
    width: 50%;
}

.index, .user {
    padding: 0.5em;
    border: solid #BABABA 1px;
}

.gameScene {
    margin: 50px;
    position: relative;
    width: 1070px;
    height: 700px;
}

.spoons {
	text-align: center;
    border: solid black 1px;
    width: 770px;
    height: 275px;
    position: absolute;
    top: 150px;
    left: 150px;
}

.hand {
    border: solid black 1px;
    width: 498px;
    height: 182px;
    position: absolute;
    top: 475px;
    left: 150px;
}

.topcard {
    border: solid black 1px;
    width: 126px;
    height: 182px;
    position: absolute;
    top: 475px;
    left: 660px;
}

.pile {
    border: solid black 1px;
    width: 126px;
    height: 182px;
    position: absolute;
    top: 500px;
    left: 795px;
}

.player {
	vertical-align: middle;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
    background-color: #E6E6E6;
    width: 100px;
    height: 100px;
    border: 15px solid;
}

.u0 {
    border-color: #0000CC;
    position: absolute;
    top: 300px;
    left: 0px;
}

.u1 {
    border-color: #CC00CC;
    position: absolute;
    top: 175px;
    left: 0px;
}

.u2 {
    border-color: #00CC00;
    position: absolute;
    top: 0px;
    left: 360px;
}

.u3 {
    border-color: #CCCC00;
    position: absolute;
    top: 0px;
    left: 485px;
}

.u4 {
    border-color: #336666;
    position: absolute;
    top: 0px;
    left: 610px;
}

.u5 {
    border-color: #CC0000;
    position: absolute;
    top: 300px;
    right: 0px;
}

.u6 {
    border-color: #663300;
    position: absolute;
    top: 175px;
    right: 0px;
}